# Obsidian
.obsidian/cache
.obsidian/backlink.json
.obsidian/bookmarks.json
.trash/

# Vault
02 - Π - Ordus/
!02 - Π - Ordus/ORDUS.md
07 - Π - Ordus/
!07 - Π - Ordus/ORDUS.md

# Data
placeholder.*
Data/*
!placeholder.png

# Test
Test/*

# Iconic backups
data.json.backup*

# Exclude macOS Finder (System Explorer) View States
.DS_Store