# Obsidian
.obsidian/cache
.obsidian/backlink.json
.obsidian/bookmarks.json
.trash/

# Vault
ALEPH-MEM/00 - Φ - Inthima/*
!ALEPH-MEM/00 - Φ - Inthima/INTHIMA.md
ALEPH-MEM/02 - Ψ - Memorium/*
!ALEPH-MEM/02 - Ψ - Memorium/MEMORIUM.md
ALEPH-MEM/04 - Λ - Devs/*
!ALEPH-MEM/04 - Λ - Devs/DEVS.md
ALEPH-MEM/07 - Π - Ordus/*
!ALEPH-MEM/07 - Π - Ordus/ORDUS.md

# Data
placeholder.*
Data/*
!placeholder.png

# Test
Test/*

# Iconic backups
data.json.backup*

# Exclude macOS Finder (System Explorer) View States
.DS_Store