/* ========================================================= */
/* BASE STYLES - AM CLASS                                    */
/* ========================================================= */

.native :is(h1, .HyperMD-header-1) {
  font-size: 40px;
  padding: 0;
}
.native :is(h2, .HyperMD-header-2) {
  font-size: 32px;
  padding: 0;
}
.native :is(h3, .HyperMD-header-3) {
  font-size: 28px;
  font-style: italic;
  padding-top: 0;
}
.native :is(h4, .HyperMD-header-4) {
  font-weight: 900;
  font-size: 20px;
  width: fit-content;
  margin-bottom: 0;
  padding: 0 6px;
  border-radius: 8px;
  word-wrap: normal;
}
.native :is(h5, .HyperMD-header-5) {
  font-weight: 700;
  width: fit-content;
  padding-left: 6px;
  word-wrap: normal;
}
.native :is(h6, .HyperMD-header-6) {
  font-style: italic;
  padding-left: 6px;
}

.native :is(strong, .cm-strong) {
  font-weight: 750;
}
.native p {
  margin: 4px 0;
}
.native hr {
  margin: 20px 0;
}
.native img {
  display: block;
  margin-inline: auto;
}

.native blockquote {
  padding: 10px 15px;
  border-radius: 5px;
  border-left-width: 5px;
  background-color: var(--code-background);
}

.native .callout {
  border-width: 2px;
  border-style: solid;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.2s ease;
}

.native .metadata-content {
  background-color: transparent;
}

.native .input-alias {
  border-radius: 0;
  background-color: var(--background-primary);
  width: 100%;
  min-height: 2.25em;
  padding: 8px;
  border-width: 2px;
  border-style: solid;
  font-size: 1.25em;
}
.native .input-alias:hover {
  background-color: var(--background-primary);
  outline: none;
}
.native .input-alias:focus-visible {
  border-color: var(--interactive-accent);
  outline: none;
}

.native .nav-button {
  font-weight: 800;
}

/* ========================================================= */

.native .meta-bind-label {
  font-weight: bold;
  margin-bottom: 4px;
}