.devs {
  --highlight: var(--c-am-devs-highlight) !important;
  --primary: var(--c-am-devs-primary) !important;
  --secondary: var(--c-am-devs-secondary) !important;
  --dark: var(--c-am-devs-dark) !important;
}