.main {
  --c-main-h1: /* var(--c-am-native-main-header-h1) */ var(--interactive-accent);
  --c-main-h2: var(--c-am-native-main-header-h2);
  --c-main-h3: var(--c-am-native-main-header-h3);
  --c-main-h4: var(--c-am-native-main-header-h4);
  --c-main-h5: var(--c-am-native-main-header-h5);
  --c-main-h6: var(--c-am-native-main-header-h6);

  --c-main-text: /*var(--c-am-native-main-text)*/ var(--text-normal);
  --c-main-bold: var(--c-am-native-main-bold);
  --c-main-italic: var(--c-am-native-main-italic);
  --c-main-bold-italic: var(--c-am-native-main-bold-italic);
  --c-main-strikethrough: var(--c-am-native-main-strikethrough);
  --c-main-mark: /* var(--c-am-native-main-mark) */ var(--interactive-accent);

  --c-main-quote-border: /* var(--c-am-native-main-quote-border) */ var(--interactive-accent);
  --c-main-quote-bg: /* var(--c-am-native-main-quote-bg) */ var(--code-background);
  
}

.main :is(h1, .HyperMD-header-1) {
  color: var(--c-main-h1);
}
.main :is(h2, .HyperMD-header-2) {
  color: var(--c-main-h2);
}
.main :is(h3, .HyperMD-header-3) {
  color: var(--c-main-h3);
}
.main :is(h4, .HyperMD-header-4) {
  color: var(--c-main-h4);
}
.main :is(h5, .HyperMD-header-5) {
  color: var(--c-main-h5);
}
.main :is(h6, .HyperMD-header-6) {
  color: var(--c-main-h6);
}

.main .cm-line:not(.HyperMD-header, .HyperMD-quote, .HyperMD-list-line),
.main p {
  color: var(--c-main-text);
}

.main :is(strong, .cm-strong) {
  color: var(--c-main-bold);
}
.main :is(em, .cm-em) {
  color: var(--c-main-italic); 
}
.main :is(strong em, em strong, .cm-strong .cm-em) {
  color: var(--c-main-bold-italic);
}
.main :is(del, .cm-strikethrough) {
  color: var(--c-main-strikethrough);
}
.main :is(mark, .cm-highlight),
.main.markdown-source-view .cm-highlight {
  background-color: color-mix(in srgb, var(--c-main-mark) 20%, transparent);
}

.main blockquote {
  border-left: 3px solid var(--c-main-quote-border);
  background-color: var(--c-main-quote-bg);
}