.ordus-business-slider .slider-input {
  display: flex !important;
  align-items: center !important;
  padding-right: 2rem !important;
  overflow: hidden !important;
}
.ordus-business-slider.slider-input {
  --slider-min: 5%;
  --slider-max: calc(100% - 2.25rem);
}
.ordus-business-slider .slider-value {
  display: block !important;
  width: 100% !important;
  text-align: right !important;
  padding-right: 0.5rem !important;
}
.ordus-business-slider .slider-value::before {
  content: "P";
}
.ordus-business-slider .slider-label-left,
.ordus-business-slider .slider-label-right {
  display: none !important;
}

/* 1 */
.ordus-business-slider[data-internal-value="1"] .slider-progress {
  background-color: rgb(0, 162, 255) !important;
}
.ordus-business-slider[data-internal-value="1"] .slider-value {
  color: rgb(0, 162, 255) !important;
}

/* 2 */
.ordus-business-slider[data-internal-value="2"] .slider-progress {
  background-color: rgb(24, 255, 109) !important;
}
.ordus-business-slider[data-internal-value="2"] .slider-value {
  color: rgb(24, 255, 109) !important;
}

/* 3 */
.ordus-business-slider[data-internal-value="3"] .slider-progress {
  background-color: rgb(255, 179, 0) !important;
}
.ordus-business-slider[data-internal-value="3"] .slider-value {
  color: rgb(255, 179, 0) !important;
}

/* 4 */
.ordus-business-slider[data-internal-value="4"] .slider-progress {
  background-color: rgb(255, 72, 0) !important;
}
.ordus-business-slider[data-internal-value="4"] .slider-value {
  color: rgb(255, 72, 0) !important;
}

/* 5 */
.ordus-business-slider[data-internal-value="5"] .slider-progress {
  background-color: rgb(221, 0, 255) !important;
}
.ordus-business-slider[data-internal-value="5"] .slider-value {
  color: rgb(221, 0, 255) !important;
}