.text-editor-content .mb-editor-input {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    border-radius: 0 !important;
}

.text-editor-content .mb-editor-input:hover {
    background-color: transparent !important;
    border-radius: 0 !important;
}

.text-editor-content .mb-editor-input textarea {
    background-color: transparent !important;
    border-radius: 0 !important;
}

.text-editor-content .mb-editor-input textarea {
    font-size: var(--font-text-size) !important;
}