.slider-input {
  height: var(--input-height);
  border-radius: var(--mb-border-radius, var(--input-radius));
  border: 2px solid var(--background-modifier-border);
  cursor: col-resize;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider-input:focus-visible {
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}
.slider-progress {
  background: var(--color-accent);
  border-radius: var(--mb-border-radius, var(--input-radius));
  height: 100%;
}
.slider-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-label-left {
  top: 50%;
  left: var(--size-4-2);
  position: absolute;
  transform: translateY(-50%);
}
.slider-label-right {
  top: 50%;
  right: var(--size-4-2);
  position: absolute;
  transform: translateY(-50%);
}