/*------------------------------------------------------------------------------
                     Daily Note Themes inspired by CyanVoxel for Time Garden
             Requires: am-color-palette.css (enable in Appearance > CSS snippets)         
------------------------------------------------------------------------------*/

.sunday, .Sunday {
  --highlight: var(--c-am-memorium-daily-sunday-highlight);
  --primary: var(--c-am-memorium-daily-sunday-primary);
  --secondary: var(--c-am-memorium-daily-sunday-secondary);
  --dark: var(--c-am-memorium-daily-sunday-dark);
}

.monday, .Monday {
  --highlight: var(--c-am-memorium-daily-monday-highlight);
  --primary: var(--c-am-memorium-daily-monday-primary);
  --secondary: var(--c-am-memorium-daily-monday-secondary);
  --dark: var(--c-am-memorium-daily-monday-dark);
}

.tuesday, .Tuesday {
  --highlight: var(--c-am-memorium-daily-tuesday-highlight);
  --primary: var(--c-am-memorium-daily-tuesday-primary);
  --secondary: var(--c-am-memorium-daily-tuesday-secondary);
  --dark: var(--c-am-memorium-daily-tuesday-dark);
}

.wednesday, .Wednesday {
  --highlight: var(--c-am-memorium-daily-wednesday-highlight);
  --primary: var(--c-am-memorium-daily-wednesday-primary);
  --secondary: var(--c-am-memorium-daily-wednesday-secondary);
  --dark: var(--c-am-memorium-daily-wednesday-dark);
}

.thursday, .Thursday {
  --highlight: var(--c-am-memorium-daily-thursday-highlight);
  --primary: var(--c-am-memorium-daily-thursday-primary);
  --secondary: var(--c-am-memorium-daily-thursday-secondary);
  --dark: var(--c-am-memorium-daily-thursday-dark);
}

.friday, .Friday {
  --highlight: var(--c-am-memorium-daily-friday-highlight);
  --primary: var(--c-am-memorium-daily-friday-primary);
  --secondary: var(--c-am-memorium-daily-friday-secondary);
  --dark: var(--c-am-memorium-daily-friday-dark);
}

.saturday, .Saturday {
  --highlight: var(--c-am-memorium-daily-saturday-highlight);
  --primary: var(--c-am-memorium-daily-saturday-primary);
  --secondary: var(--c-am-memorium-daily-saturday-secondary);
  --dark: var(--c-am-memorium-daily-saturday-dark);
}