.devs {
  --highlight: var(--c-am-devs-highlight);
  --primary: var(--c-am-devs-primary);
  --secondary: var(--c-am-devs-secondary);
  --dark: var(--c-am-devs-dark);
  
  --text-normal: var(--highlight);
  --text-muted: color-mix(in srgb, var(--highlight) 85%, var(--primary));
  --text-faint: color-mix(in srgb, var(--highlight) 60%, var(--primary));
  --checklist-done-color: var(--secondary);
  --metadata-label-text-color: var(--primary);
  --metadata-input-text-color: var(--highlight);
  --hr-color: var(--secondary);
  --blockquote-border-color: var(--primary);
  --interactive-accent: var(--primary);
  --collapse-icon-color-collapsed: var(--secondary);
  --checkbox-color: var(--secondary);
  --checkbox-marker-color: var(--dark);
  --checkbox-color-hover: var(--highlight);
  --checkbox-border-color: var(--primary);
  --list-marker-color: var(--secondary);
  --code-background: var(--c-memorium-base-black);
  --code-normal: var(--primary);

  --background-modifier-border-focus: var(--secondary);
  --background-modifier-border: color-mix(in srgb, var(--primary) 50%, transparent);
  --background-modifier-hover: color-mix(in srgb, var(--secondary) 40%, transparent);
  --pill-cover-hover: color-mix(in srgb, var(--highlight) 60%, transparent);
}
