/*------------------------------------------------------------------------------
                     Daily Note Themes inspired by CyanVoxel for Time Garden
             Requires: am-color-palette.css (enable in Appearance > CSS snippets)         
------------------------------------------------------------------------------*/

.daily {
  --highlight: var(--c-memorium-base-highlight);
  --primary: var(--c-memorium-base-primary);
  --dark: var(--c-memorium-base-dark);
  
  --text-normal: var(--highlight);
  --text-muted: var(--highlight);
  --text-faint: var(--highlight);
  --checklist-done-color: var(--highlight);
  --metadata-label-text-color: var(--highlight);
  --metadata-input-text-color: var(--highlight);
  --hr-color: var(--primary);
  --blockquote-border-color: var(--primary);
  --interactive-accent: var(--primary);
  --collapse-icon-color-collapsed: var(--primary);
  --checkbox-color: var(--primary);
  --checkbox-marker-color: var(--dark);
  --checkbox-color-hover: var(--highlight);
  --checkbox-border-color: var(--highlight);
  --list-marker-color: var(--highlight);
  --code-background: var(--c-memorium-base-black);
  --code-normal: var(--primary);

  --background-modifier-border-focus: var(--primary);
  --background-modifier-border: color-mix(in srgb, var(--highlight) 60%, transparent);
  --background-modifier-hover: color-mix(in srgb, var(--highlight) 60%, transparent);
  --pill-cover-hover: color-mix(in srgb, var(--highlight) 60%, transparent);
}

.sunday, .Sunday {
  --highlight: var(--c-daily-sunday-highlight);
  --primary: var(--c-daily-sunday-primary);
  --dark: var(--c-daily-sunday-dark);
}

.monday, .Monday {
  --highlight: var(--c-daily-monday-highlight);
  --primary: var(--c-daily-monday-primary);
  --dark: var(--c-daily-monday-dark);
}

.tuesday, .Tuesday {
  --highlight: var(--c-daily-tuesday-highlight);
  --primary: var(--c-daily-tuesday-primary);
  --dark: var(--c-daily-tuesday-dark);
}

.wednesday, .Wednesday {
  --highlight: var(--c-daily-wednesday-highlight);
  --primary: var(--c-daily-wednesday-primary);
  --dark: var(--c-daily-wednesday-dark);
}

.thursday, .Thursday {
  --highlight: var(--c-daily-thursday-highlight);
  --primary: var(--c-daily-thursday-primary);
  --dark: var(--c-daily-thursday-dark);
}

.friday, .Friday {
  --highlight: var(--c-daily-friday-highlight);
  --primary: var(--c-daily-friday-primary);
  --dark: var(--c-daily-friday-dark);
}

.saturday, .Saturday {
  --highlight: var(--c-daily-saturday-highlight);
  --primary: var(--c-daily-saturday-primary);
  --dark: var(--c-daily-saturday-dark);
}

.daily :is(h1, .HyperMD-header.HyperMD-header-1) {
  color: var(--primary);
  font-size: 47px;
  padding: 0 !important;
}
.daily :is(h2, .HyperMD-header.HyperMD-header-2) {
  color: var(--highlight);
  font-size: 30px;
  font-style: italic;
  padding: 0 !important;
}
.daily :is(h3, .HyperMD-header.HyperMD-header-3) {
  color: var(--primary);

  font-size: 32px;
  padding-top: 0;
}
.daily :is(h4, .HyperMD-header.HyperMD-header-4) {
  background-color: var(--primary);
  color: var(--dark);
  font-weight: 900;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 20px;
  width: fit-content;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 8px;
  word-wrap: normal;
}
.daily p {
  margin-top: 4px;
  margin-bottom: 4px;
}
.daily :is(a:link, .cm-hmd-internal-link) {
  color: var(--primary);
}
.daily :is(a:hover, .cm-hmd-internal-link:hover) {
  color: var(--highlight);
}
.daily hr {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.daily img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.daily .metadata-property-icon {
  color: var(--highlight);
}