

.hide-source-frontmatter .metadata-add-button {
    display: none;
}

.hide-source-frontmatter .metadata-property {
    display: none;
}

.hide-source-frontmatter .metadata-property[data-property-key="version"],
.hide-source-frontmatter .metadata-property[data-property-key="id"],
.hide-source-frontmatter .metadata-property[data-property-key="creation"],
.hide-source-frontmatter .metadata-property[data-property-key="tags"] {
    display: flex;
}