.custom-input {
  width: 100%;
  margin: 10px 0;
}

.custom-input input {
  background-color: var(--background-primary);
  border: 1px solid var(--interactive-accent);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  font-size: 1.25em; /* Tamaño aproximado de h2 */
  height: auto;
}

.custom-input input:focus {
  outline: none;
  border-color: var(--interactive-accent-hover);
  box-shadow: 0 0 3px var(--interactive-accent);
}

.custom-input .meta-bind-label {
  font-weight: bold;
  margin-bottom: 4px;
}